JENKINS_BASE_URL=http://jenkins.example.com
JENKINS_USER=
JENKINS_TOKEN=

DINGTALK_APP_ID=
DINGTALK_AGENT_ID=
DINGTALK_CLIENT_ID=
DINGTALK_CLIENT_SECRET=
DINGTALK_ROBOT_CODE=

TEAMBITION_BASE_URL=https://open.teambition.com/api
TEAMBITION_APP_ID=
TEAMBITION_APP_SECRET=
TEAMBITION_ORG_ID=
TEAMBITION_OPERATOR_ID=
TEAMBITION_PROJECT_ID=
TEAMBITION_TASKLIST_ID=
TEAMBITION_STAGE_ID=
TEAMBITION_TASKFLOWSTATUS_ID=
TEAMBITION_SFC_ID=
