JENKINS_BASE_URL=http://jenkins.example.com
JENKINS_USER=
JENKINS_TOKEN=

TEAMBITION_BASE_URL=https://open.teambition.com/api
TEAMBITION_APP_ID=xxx
TEAMBITION_APP_SECRET=xxx
TEAMBITION_ORG_ID=xxx
TEAMBITION_OPERATOR_ID=
TEAMBITION_PROJECT_ID=
TEAMBITION_TASKLIST_ID=

DINGTALK_DEFAULT_USER_ID=u001
